In [2]:
import pandas as pd
import numpy as np
import os

In [130]:
path = "C:/Users/logan/OneDrive/Desktop/ncaab_proj"
fols = ['/22-23', '/23-24', '/24-25']

teams = pd.DataFrame(columns=['team_name', 'pt_for_dif', 'pt_ag_dif'])

for fol in fols:
    os.chdir(path + fol)
    print(os.getcwd())
    for file in os.listdir(path + fol):
        team_name = file[:-13]
        df = pd.read_csv(file)
        cur_conf_rec = ' (0-0)'
        total_home_for = 0
        total_home_ag = 0
        total_away_for = 0
        total_away_ag = 0
        total_home_games = 0
        total_away_games = 0
        for idx, row in df.iterrows():
            stripped = row['record'].lstrip('1234567890-')
            if cur_conf_rec != stripped:
                cur_conf_rec = stripped
                if row['location'] == 'H':
                    total_home_for += row['team_score']
                    total_home_ag += row['opp_score']
                    total_home_games += 1
                elif row['location'] == 'A':
                    total_away_for += row['team_score']
                    total_away_ag += row['opp_score']
                    total_away_games += 1
        
        avg_home_for = total_home_for / total_home_games
        avg_home_ag = total_home_ag / total_home_games
        avg_away_for = total_away_for / total_away_games
        avg_away_ag = total_away_ag / total_away_games
    
        pt_for_dif = avg_home_for - avg_away_for
        pt_ag_dif = avg_home_ag - avg_away_ag
        teams.loc[len(teams)] = {'team_name': team_name,
                                 'pt_for_dif': pt_for_dif, 
                                 'pt_ag_dif': pt_ag_dif}
            

teams_grouped = teams.groupby('team_name', as_index=False).agg({
     'pt_for_dif': 'mean',
     'pt_ag_dif': 'mean'
})

os.chdir(path)
teams_grouped.to_csv('data.csv')

C:\Users\logan\OneDrive\Desktop\ncaab_proj\22-23
C:\Users\logan\OneDrive\Desktop\ncaab_proj\23-24
C:\Users\logan\OneDrive\Desktop\ncaab_proj\24-25

In [128]:
teams_grouped[teams_grouped['team_name'] == 'San_Diego_State']

           team_name  pt_for_dif  pt_ag_dif
255  San_Diego_State     4.42963  -5.737037